{% extends 'base.html.twig' %}

{% block content %}

    <main class="agents">

        lorem

        <h2>Il y a {{ agents | length }} agents dans cette liste</h2>

        {% for agent in agents %}

            {% if agent.published %}

                <div class="agent">
                    <p>
                        {# je créé un lien avec la fonction path
                            qui prend en premier parametre le nom de la route vers laquelle je veux faire le lien
                            et en second parametre les valeurs des wildcard de la route concernée
                        #}
                        <a href="{{ path('agent_show', {'id': agent.id}) }}">{{ agent.firstName }} {{ agent.lastName }} / {{ agent.id }}</a>
                    </p>
                </div>

            {% endif %}

        {% endfor %}

    </main>

{% endblock content %}
