<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

    <main>

        {#
            j'utilise la fonction twig form pour afficher mon formulaire
            (avec en parametre la variable de formulaire
        #}
        {#        {{ form(formView) }}#}

{#        {{ form_start(formView) }}#}

{#            <div class="article_form_title">#}

{#                {{ form_row(formView.title) }}#}

{#            </div>#}

{#            {{ form_row(formView.content) }}#}

{#            {{ form_row(formView.image) }}#}

{#            {{ form_row(formView.publicationDate) }}#}

{#            {{ form_row(formView.creationDate) }}#}

{#            {{ form_row(formView.isPublished) }}#}

{#            {{ form_row(formView.sauver) }}#}

{#        {{ form_end(formView) }}#}


    {{ form_start(formView) }}


        <div>
            {{ form_label(formView.title) }}
            {{ form_widget(formView.title, {'attr': {'class': 'article_form_title'}}) }}
            {{ form_errors(formView.title) }}
        </div>

        <div>
            {{ form_label(formView.content) }}
            {{ form_widget(formView.content) }}
            {{ form_errors(formView.content) }}
        </div>

        <div>
            {{ form_label(formView.publicationDate) }}
            {{ form_widget(formView.publicationDate) }}
            {{ form_errors(formView.publicationDate) }}
        </div>

        <div>
            {{ form_label(formView.creationDate) }}
            {{ form_widget(formView.creationDate) }}
            {{ form_errors(formView.creationDate) }}
        </div>

        <div>
            {{ form_label(formView.isPublished) }}
            {{ form_widget(formView.isPublished) }}
            {{ form_errors(formView.isPublished) }}
        </div>

        <div>
            {{ form_label(formView.category) }}
            {{ form_widget(formView.category, {'attr': {'class': 'article_form_title'}}) }}
            {{ form_errors(formView.category) }}
        </div>

        <div>
            {{ form_label(formView.imageFileName) }}
            {{ form_widget(formView.imageFileName, {'attr': {'class': 'article_form_title'}}) }}
            {{ form_errors(formView.imageFileName) }}
        </div>

        <div>
            {{ form_widget(formView.sauver) }}
        </div>
    {{ form_end(formView) }}

    </main>

</body>
</html>
